* {
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 20px;
}

.small h3{
  font-size: 7px;
}

.container {
  display: flex;
  margin: 20px 0;
  justify-content: center;
}


.grid-container {
  display: grid;
  grid-template-columns: 400px;
  grid-template-rows: 200px 400px;
  border-radius: 10%;
  overflow: hidden;
}

.container .box1 {
  display: flex;
  background-color: #262626;
  align-items: center;
  justify-content: center;
}

#screen {
  width: 350px;
  height: 80px;
  background-color: rgba(67, 212, 188, 0.752);
  outline: none;
}


.container .box2 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  background-color: #333333;
  justify-items: center;
  align-items: center;
  padding: 10px 20px;
}


/* Buttons */

.plus {
  grid-column: 5;
  grid-row: 5 / span 2;
}

.plus-btn {
  height: 90px !important;
}

.small-btn {
  height: 30px !important;
}

.btn {
  width: 50px;
  height: 40px;
  border-radius: 15%;
  color: #fff;
  border-color: #343434;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.btn-gray {
  background-color: rgb(92, 91, 91);
}

.btn-orange {
  background-color: #ffa600c0;
}

.btn-black {
  background-color: #222222c0;
}

