body {
    font-family:Arial; 
    text-align: center; 
    margin-top: 100px;
    background-color: black;
    }

input {
      padding: 10px;
      margin: 5px;
      width: 100px;
      background-color: beige;
    }
    button {
      padding: 10px 20px;
      margin: 20;
      background-color: beige;
    }
    #sonuc {
      font-weight: bold;
      margin-top: 20px;
    }

.hesapmakinesi {
    
    background-color: rgb(0, 238, 255);
    padding: 30px;
    margin: auto;
    width: 250px;
    border-radius: 15px;
    box-shadow: 0 0 1000px rgba(0,0,0,0.2);
    margin: auto;
    }